@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body {
    margin: 0 0;
    background: rgb(247, 247, 247);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    background: white;
    margin: 0 0;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 2px 11.3px 0px rgba(0, 0, 0, 0.02);
    position: sticky;
    top: 0px;
    z-index: 1;

}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.nav-items[data-menustyle="closed"] {
    display: none;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: auto;

}

li {
    padding-left: 8px;
    padding-right: 8px;
}

li a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(63, 63, 63);
    cursor: pointer;
    transition:  0.3s ease;
}

li a:hover {
    color: #b91bf3;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a{
    text-decoration: none;
}

.btn-secondary {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 160px;
    height: 42px;
    padding: 10px 20px;
    color: white;
    background: #A900E4;
    border: none;
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition:  0.3s ease;
}

.btn-secondary:hover {
    background-color: #b91bf3;
}

.btn-primary {
    width: 150px;
    height: 42px;
    padding: 10px 20px;
    background: rgb(247, 247, 247);
    color: #111;
    border: 2px solid #111;
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition:  0.3s ease;
}

.btn-primary:hover {
    color: #b91bf3;
    border: 2px solid #b91bf3;
}

.btn-primary-2{
    width: 500px;
    height: 42px;
    padding: 10px 20px;
    color: white;
    background: #A900E4;
    border: none;
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition:  0.3s ease;
}

.btn-primary-2:hover {
    background-color: #b91bf3;
}


.btn-link{
    display: flex;
    align-items: center;
    gap: 22px;
}

.btn-hover-port{
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn-link a{
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #111;
    transition:  0.3s ease;
}

.btn-link a:hover {
    color: #b91bf3;
}

.hamburger {
    display: none;
}

.hero-section {
    margin-top: 128px;
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-direction: row-reverse;
}

.hero-image {
    display: flex;
}

.hero-image img {
    width: 250px;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1 {
    color: #111;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-text .h1-color {
    color: #A900E4;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-text p {
    color: #111;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    padding-left: 4px;
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 580px;
}

.hero-text .text-color {
    color: #A900E4;
    font-weight: 600;
}

.my-project-section {
    background-color: white;
}


.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 64px;

}

.section-title h2 {
    color: #111;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 16px;
}

.section-title span {
    color: #A900E4;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 16px;
}


.section-title p {
    text-align: center;
    color: #111;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    max-width: 900px;
}


.projects {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-bottom: 64px;
}

.project-2 {
    flex-direction: row-reverse;
}

.category {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.project-title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 52px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.project-link {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-decoration-line: underline;
    cursor: pointer;
}

.project-link a{
    text-decoration: none;
    color: inherit;
}

.project-image img {
    border-radius: 16px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.project-image img:hover {
    box-shadow: 0px 0px 15.1px 0px rgba(0, 0, 0, 0.064);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.vm-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    gap: 6px;
    padding-bottom: 128px;
}

.vm-btn a {
    text-decoration: none;
    color: #111;
}

.vm-btn a:hover {
    color: #b91bf3
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 128px;
    cursor: pointer;
}

.cards-1{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 32px;
    cursor: pointer;
}

.card-links{
    text-decoration: none;
    color: inherit;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    background: #FFF;
    font-family: 'Noto Sans', sans-serif;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card-container:hover{
    box-shadow: 0px 0px 15.1px 0px rgba(0, 0, 0, 0.064);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

.image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: left;
    padding-left: 16px;
    padding-right: 16px;
}

.text h3 {
    margin: 0px;
    padding-top: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.text p {
    margin: 0px;
    text-align: left;
    font-size: 14px;
    padding-bottom: 16px;
}

.contact-form{
    background-color: white;
}

.contact-form-inner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;
}

.contact-form-left img{
    height: 300px;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;
    background-color: rgb(247, 247, 247);
    font-family: 'Noto Sans', sans-serif;
}

.contacts h3{
    font-weight: 700;
    font-size: 20px;
}

.contacts p{
    font-weight: 400;
    font-size: 16px;
}

.contacts a{
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.contacts a{
    text-decoration: none;
}

.contacts .icons-social{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.contact-form-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 32px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-text h3{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 56px;
}

.form-text span{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 56px;
    color: #A900E4;
}

label{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

input{
    padding: 8px 16px;
    width: 500px;
    border-radius: 4px;
    border: 1px solid rgb(220, 220, 220);
    background: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.end{
    background-color: #111;
    height: 50px;
}

.contact-form-right .btn-primary{
    width: 500px;
}

@media screen and (max-width: 1100px) {
    .hero-section {
        gap: 32px;
        margin: 128px 16px;
    }

    .hero-image {
        margin: 0;
    }

    .hero-image img {
        height: 300px;
    }

    .hero-text {
        margin: 0;
    }

    .hero-text h1 {
        font-size: 52px;
    }

    .hero-text .h1-color {
        font-size: 52px;
    }


    .hero-text p {
        font-size: 18px;
        max-width: 500px;
    }

    .section-title h2 {
        font-size: 48px;
    }

    .section-title span {
        font-size: 48px;
        max-width: 500px;
    }

    .category {
        font-size: 16px;
    }

    .projects {
        margin-left: 24px;
        margin-right: 24px;
    }

    .project-title {
        font-size: 42px;
    }

    .project-link {
        font-size: 18px;
    }

    .project-image img {
        width: 400px;
    }

    .form-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 850px) {
    nav {
        flex-direction: column;
        margin: 0 16px;

    }

    .nav-items {
        flex-direction: column;
        gap: 8px;
    }

    .nav-items[data-menustyle="closed"] {
        display: none;
    }

    ul {
        flex-direction: column;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .logo {
        display: flex;
        justify-content: space-between;

    }

    li {
        text-align: center;

    }

    .links {
        display: flex;
        justify-content: center;
    }

    .button {
        margin-bottom: 32px;
    }

    .hamburger {
        display: block;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin: 128px 16px;
    }

    .hero-image {
        margin: 0;
    }

    .hero-image img {
        height: 270px;
    }

    .hero-text {
        align-items: center;
        margin: 0;
    }

    .hero-text h1 {
        font-size: 48px;
        margin-bottom: 8px;
    }

    .hero-text .h1-color {
        font-size: 48px;
    }

    .hero-text p {
        font-size: 16px;
        text-align: center;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title span {
        font-size: 32px;
    }

    .section-title p {
        max-width: 600px;
    }


    .projects {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .project-image img {
        width: 400px;
    }

    .project-headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-headings .category {
        font-size: 14px;
    }

    .project-headings .project-link {
        font-size: 16px;
    }

    .project-title {
        text-align: center;
        font-size: 32px;
    }

    .form-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        margin: 0 16px;

    }

    .nav-items {
        flex-direction: column;
        gap: 8px;
    }

    .nav-items[data-menustyle="closed"] {
        display: none;
    }

    ul {
        flex-direction: column;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .logo {
        display: flex;
        justify-content: space-between;

    }

    .logo img {
        width: 100px;
        height: auto;
    }

    li {
        text-align: center;

    }

    .links {
        display: flex;
        justify-content: center;
    }

    .button {
        margin-bottom: 32px;
    }

    .hamburger {
        display: block;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin: 128px 16px;
    }

    .hero-image {
        margin: 0;
    }

    .hero-image img {
        height: 270px;
    }

    .hero-text {
        align-items: center;
        margin: 0;
    }

    .hero-text h1 {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .hero-text .h1-color {
        font-size: 32px;
    }

    .hero-text p {
        font-size: 16px;
        text-align: center;
        padding: 0;
    }

    .section-title {
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 64px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title span {
        font-size: 32px;
        max-width: 370px;
    }

    .section-title p {
        font-size: 16px;
        max-width: 400px;
    }

    .btn-link{
        gap: 16px;
    }

    .projects {
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        margin-bottom: 0px;
    }

    .project-image img {
        width: 300px;
    }

    .project-headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-headings .category {
        font-size: 14px;
    }

    .project-headings .project-link {
        font-size: 16px;
    }

    .project-title {
        text-align: center;
        font-size: 32px;
    }

    input{
        width: 300px;
    }

    .contact-form-right .btn-primary{
        width: 300px;
    }

    form{
       align-items: center;
    }

    .form-text h3{
        font-size: 32px;
    }

    .form-text span{
        font-size: 32px;
    }

    .contact-form-left img{
        height: 200px;
    }

    .form-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vm-btn{
        padding-bottom: 64px;
        font-size: 16px;
    }

    .cards{
        padding-bottom: 64px;
    }

    .contact-form-inner{
        padding-top: 64px;
        padding-bottom: 64px;
    }

}


@media screen and (min-width: 850px) {
    .hamburger {
        display: none;
    }

    .nav-items[data-menustyle="closed"] {
        display: flex;
    }
}